.containerFluid {
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.container {
  min-height: 520px;
  /* width: 50%; */
  background-color: rgba(224, 245, 245, 0.8);
  margin: 10px auto;
  border-radius: 10px;
  align-content: center;
}

.section {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.section h1 {
  margin-top: 20px;
}

.line {
  margin: -10px auto 0;
  border-bottom: 2px solid black;
  width: 50%;
  box-shadow: 0px 2px 1px grey;
  /* padding-top: 20px; */
}

.article {
  /* width: 90%; */
  margin: 0 auto;
  padding: 10px 50px;
  text-align: justify;
  font-weight: 400;
}

.article p {
  margin: 0;
  padding: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: black;
}
