.containerFluid {
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100%;
}

.container {
  min-height: 520px;
  /* width: 50%; */
  background-color: rgba(224, 245, 245, 0.8);
  margin: 10px auto;
  border-radius: 10px;
  align-content: center;
}

.section {
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.main {
  width: 60%;
  margin: auto;
  font-weight: 500;
  padding-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 10px;
}
