.size {
  height: 70px;
  background-color: #98c1d9;
}

.navFont {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.navFont:hover {
  font-weight: bold;
  color: red;
  animation-delay: 2ms;
}

.styleLogin {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.styleLogin:hover {
  font-weight: bold;
  color: red;
  animation-delay: 2ms;
}
